h1 {
  background-color: palegoldenrod;
  border: 1px solid black;
  width: 500px;
  padding: 50px;
  margin: 50px;
}

span {
  background-color: paleturquoise;
  border: 1px solid black;
  width: 500px;
  padding: 50px;
  margin: 50px;
}

div {
  height: 200px;
  width: 200px;
  background-color: #8feb64ff;
  /*不透明　ff*/
  border: 5px solid black;
  display: inline-block;
  padding: 100px;
  margin: 50px;
}


h2 {
  font-size: 2em;
}

article {
  font-size: 30px;
}

/*1em=30px*/