/** {*/
/*  color: pink;*/
/*  background-color: cyan;*/
/*}*/

body {
  background-color: #a5dff9;
}

button {
  font-size: 30px;
  background-color: #60c5ba;
}

h1, h2 {
  color: #ef5285;
}

#signup {
  background-color: #feee7d;
}

span {
  color: #7286D3;
}

.tag {
  background-color: #FFF2F2;
  color: #8EA7E9;
  font-size: 16px;
}

.post a {
  color: #7286D3;
}

/*子孫*/
footer a {
  color: #ef5285;
}

/*隣接*/
h2 + button {
  font-size: 20px;
}

/*直下*/
footer > a {
  color: #7286D3;
}


/*属性セレクター*/
input[type="password"] {
  color: #feee7d;
}

section[class="post"] {
  background-color: #fff;
}

a[href*="google"] {
  color: green;
}